@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* ======= GERAL ========== */
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-primary: hsl(246, 50%, 50%);
    --white: hsl(0, 0%, 100%);
    --bg-page-color: hsl(0, 0%, 87%);
}

html, body {
    background-color: var(--bg-page-color);
}

/* ========= HEADER ========= */

header {
    background-color: var(--color-primary);
    color: var(--white);

    height: 60px;

    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 0;
}

.dsmovie-contact-container a, a:hover {
    color: unset;

    text-decoration: none;
}

.dsmovie-contact-container a {
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
}